<!DOCTYPE html>
<html>
  <head>
    <title>GwayErp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Gway ERP</title>
    <link href="assets/img/fav.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="assets/css/bootstrapmin.css" rel="stylesheet">
    <link href="assets/css/icofontmin.css" rel="stylesheet">
    <link href="assets/css/boxiconsmin.css" rel="stylesheet">
    <link href="assets/css/animatemin.css" rel="stylesheet">
    <link href="assets/fonts/remixicon.css" rel="stylesheet">
    <link href="assets/css/line-awesomemin.css" rel="stylesheet">
    <link href="assets/css/owlcarouselmin.css" rel="stylesheet">
    <link href="assets/css/aos.css" rel="stylesheet">

    <link href="assets/css/style.css" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
